[data-theme='dark'] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme='dark'] h5 {
  color: #eee;
}

[data-theme='dark'] p {
  color: #cecece;
}

[data-theme='dark'] strong {
  color: #eee;
}

[data-theme='dark'] .box {
  background-color: #111 !important;
  color: #cecece;
  border: 1px solid #e6ecf8;
}

[data-theme='dark'] .title {
  color: #eee;
}

[data-theme='dark'] .subtitle {
  color: #cecece;
}

[data-theme='dark'] .label {
  color: #eee;
}

[data-theme='dark'] .footer {
  border-top: 1px solid #e6ecf8;
  background-color: #111 !important;
}
